<div style="margin-top: 20px;">
  <%- if @location -%>

    <%= image_tag 'http://maps.googleapis.com/maps/api/staticmap?size=120x120&sensor=false&zoom=9&markers=' + CGI.escape(@location.lat_long)  %>

    <%= form_for @location do |f| %>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :code %>
      <%= f.hidden_field :lat %>
      <%= f.hidden_field :long %>
  
      <p class="button save" style="float:left;margin: 0 5px 0 0;">
        <%= submit_tag 'Start importing', :id => 'submit'%> 
      </p>
      <span class="meta" style="line-height: 32px;"> every 6 hours.</span>
  
    <%- end -%>

  <%- else -%>
  
    <p>No results found.</p>

  <%- end -%>
</div>